apiVersion: v1
kind: Service
metadata:
  name: {{ include "carla-scheduler.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "carla-scheduler.labels" . | nindent 4 }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: metrics
  selector:
    {{- include "carla-scheduler.selectorLabels" . | nindent 4 }}
